* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 10px */
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-base);
    font-size: 1.6rem; /* 16px */
}

/* TOP-BAR */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 25px 0px;
    gap: 120px;
}

header.blurred {
    background-color: var(--bg-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid #02081723;
}
  
nav ul {
    display: flex;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: bold;
    padding: 0px 20px;
}

nav a:hover {
    color: var(--color-accent);
}

button#toggle-theme {
    background: none;
    border: none;
    color: var(--theme-icon-color);
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
}

#open-menu {
    display: none;
}

/* HOME */
main {
    max-width: 1280px;
    padding: 100px 0px;
    margin: 0 auto;
    /* background-color: #16A34A; */
}

#home {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20% 50px;
    /* background-color: red; */
    gap: 30px;
    height: 100%;
}

.home-left {
    max-width: 770px;
}

.home-right {
    max-width: 500px;
    margin: 0 auto;
}

.home-presentation p:first-child {
    color: var(--color-accent);
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.home-presentation h1 {
    color: var(--color-white);
    font-size: 3.5em;
}

.home-presentation h2 {
    color: var(--color-text);
    font-weight: normal;
    font-size: 2.4rem;
    margin: 5px 0px 25px 0px;
}

.home-presentation p:last-child {
    color: var(--color-text);
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.home-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.home-buttons a {
    text-decoration: none;
}

.home-contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-text-button);
    font-weight: 600;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.home-contact:hover {
    transform: scale(1.05);
}

.home-projects {
    display: inline-block;
    color: var(--color-white);
    border: 1px solid #94a3b84d;
    border-radius: 10px;
    padding: 8px 15px;
    transition: transform 0.3s ease;
}

.home-projects:hover {
    transform: scale(1.05);
    background-color: var(--color-accent);
    color: var(--color-text-button);
    font-weight: 600;
}

.home-buttons i {
    font-size: 2.5rem;
    color: var(--home-buttons-color);
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.home-buttons i:hover {
    color: var(--color-accent);
    transform: scale(1.2) rotate(5deg);
}

.bash {
    max-width: 455px;
    min-width: 320px;
    color: #6B7280;
    background-color: var(--background-bash);
    border: 1px solid var(--color-white);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.bash:hover {
    transform: translateY(-8px);
}

.bash-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.circle {
    display: flex;
    gap: 8px;
}

.circle span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
  }

.red-circle {
    background-color: #EF4444;
}

.yellow-circle {
    background-color: #EAB308;
}

.green-circle {
    background-color: #22C55E;
}

.filename {
    font-size: 12px;
}

.bash-body p {
    font-size: 14px;
    font-family: var(--font-bash);
    margin-top: 8px;
    margin-left: 15px;
}

.bash-body p:first-child, .bash-body p:nth-child(2), .bash-body p:last-child {
    margin-left: 0;
}

.pink {
    color: #DB2777;
}

.blue {
    color: #2563EB;
}

.orange {
    color: #F97316;
}

.purple {
    color: #9333EA;
}

.green {
    color: #16A34A;
}

/* ABOUT */
#about {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 50px;
    /* background-color: red; */
    padding: 30px;
}

.about-left {
    max-width: 850px;
}

.about-left h2 {
    font-size: 3.5rem;
    color: var(--color-white);
}

.about-left hr {
    max-width: 60px;
    height: 2.5px;
    border: none;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    background-color: var(--color-accent);
    margin-bottom: 45px;
}

.about-left p {
    color: var(--color-text);
}

.icon-title, .icon-subtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

.icon-title i {
    font-size: 2rem;
    color: var(--color-accent);
}

.icon-title h3 {
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 550;
}

.education-experience {
    display: flex;
    gap: 20px;
}

.education-experience i {
    color: var(--color-accent);
}

.education-experience h3 {
    font-size: 1.8rem;
    color: var(--color-white);
    font-weight: 550;
}

.education-experience p {
    font-size: 1.4rem;
    margin: 10px 0px;
}

.education p:first-of-type {
    font-weight: 500;
    color: var(--color-white);
}

.education, .experience {
    border: 1px solid #08152D;
    border-radius: 15px;
    padding: 20px;
    max-width: 400px;
    margin-top: 25px;
    transition: transform 0.3s ease;
}

.education:hover, .experience:hover {
    transform: translateY(-5px);
}

.about-right {
    align-content: center;
    max-width: 440px;
    text-align: center;
}

.profile-picture {
    position: relative;
    display: inline-block;
    width: 18rem;
    height: 18rem;
}

.profile-picture img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--color-border-profile);
    transition: transform 0.3s ease;
}

.profile-picture img:hover {
    transform: scale(1.05);
}

.online-status {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 15px;
    height: 15px;
    background-color: #22C55E;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(76, 175, 80, 0.7);
    animation: pulse 1.5s infinite;
}
  
@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.7);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(76, 175, 80, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);
    }
}

.about-right h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--color-white);
}

.about-right p {
    color: var(--color-text);
}

.curriculo a {
    text-decoration: none;
    color: var(--color-text-button);
    background-color: var(--color-accent);
    padding: 10px 15px;
    border-radius: 10px;
}

.curriculo {
    border: none;
    font-size: 1.4rem;
    font-weight: 550;
    cursor: pointer;
    margin-top: 35px;
    transition: transform 0.3s ease;
}

.curriculo:hover {
    transform: scale(1.05);
}

.curriculo i {
    margin-right: 8px;
}

/* PROJECTS */
#projects {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: red; */
    padding: 30px;
}

.project-title h2 {
    font-size: 3.5rem;
    color: var(--color-white);
}

.project-title hr {
    max-width: 45px;
    height: 2.5px;
    border: none;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    background-color: var(--color-accent);
    margin-bottom: 20px;
}

.project-title p {
    color: var(--color-text);
    max-width: 750px;
    margin-bottom: 45px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.hidden-project {
    display: none;
}

.individual-project, .hidden-project {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: auto;
    min-height: 425px;
    border: 1px solid #94a3b84d;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.individual-project:hover, .hidden-project:hover {
    transform: translateY(-4px);
}

.individual-project img, .hidden-project img {
    width: 100%;
    height: 192px;
}

.padlock-git {
    position: absolute;
    top: 7px;
    right: 7px;
    color: #1F2937E6;
    font-size: 20px;
    z-index: 2;
    text-decoration: none;
}

.fa-lock {
    font-size: 18px;
    cursor: default;
}

.padlock-git:hover {
    color: white;
    transition: 0.3s;
}

.project-body {
    padding: 24px;
}

.project-body h3 {
    color: var(--color-white);
    font-size: 2rem;
}

.project-body p {
    color: var(--color-text);
    font-size: 1.4rem;
    margin-top: 16px;
}

.project-technology {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 10px;
}

.project-technology p {
    background-color: var(--color-project-technology);
    color: var(--color-accent);
    font-size: 1.2rem;
    padding: 5px 12px;
    border-radius: 10px;
}

.project-site {
    display: inline-block;
    background: none;
    text-decoration: none;
    border: 1px solid #94a3b84d;
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 15px;
    margin-top: 18px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project-site:hover {
    background-color: var(--color-accent);
    color: var(--color-text-button);
    font-weight: 600;
}

.project-site i {
    margin-right: 3px;
}

.button-more-projects {
    display: flex;
    justify-content: center;
}

#toggleProjects {
    display: flex;
    align-items: center;
    border: 1px solid #94a3b84d;
    border-radius: 10px;
    background: none;
    color: var(--color-white);
    font-weight: 550;
    font-size: 1.4rem;
    padding: 10px 16px;
    margin-top: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#toggleProjects:hover {
    background-color: var(--color-accent);
    color: var(--color-text-button);
}

#toggleProjects p {
    margin-right: 10px;
}

#toggleProjects i {
    font-size: 1rem;
}

/* SKILLS */
#skills {
    padding: 30px;
}

#skills h2 {
    font-size: 3.5rem;
    color: var(--color-white);
}

#skills hr {
    max-width: 60px;
    height: 2.5px;
    border: none;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    background-color: var(--color-accent);
    margin-bottom: 20px;
}

#skills p {
    color: var(--color-text);
}

.skills {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    border: 1px solid #94a3b84d;
    border-radius: 10px;
    padding: 25px;
    width: 80%;
    margin: 40px auto;
    gap: 25px 5px;
}

.skills-content {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: transform 0.3s ease;
} 

.skills-content:hover {
    transform: translateY(-2px);
}

.skills-content p {
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: bold;
}

.skills-content img {
    width: 40px;
    height: 40px;
}

.skills-content .express {
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 0px 2px;
    margin-right: 5px;
}

.skills-content .postman {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.skills-content .github, .skills-content .vscode {
    width: 32px;
    height: 32px;
    margin-right: 2px;
    padding: 0px 4px;
}

.skills-content .mysql {
    width: 25px;
    height: 25px;
    background-color: #045E8C;
    padding: 4px;
    margin-right: 5px;
}

/* CERTIFICATES */
#certificates {
    padding: 30px;
}

#certificates h2 {
    font-size: 3.5rem;
    color: var(--color-white);
}

#certificates hr {
    max-width: 60px;
    height: 2.5px;
    border: none;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    background-color: var(--color-accent);
    margin-bottom: 20px;
}

#certificates p {
    color: var(--color-text);
}

.instruction-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instruction {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 0;
    gap: 5px;
    color: var(--color-text);
    font-size: 1.4rem;
}

.swiper {
    position: relative;
    padding-top: 60px;
    margin-top: 30px;
}

.swiper-navigation {
    position: absolute;
    top: 25px;
    right: 0;
    display: flex;
    gap: 0.5rem;
    z-index: 10;
}

.swiper-button-prev,
.swiper-button-next {
    position: static !important; /* evita sobrescrever posição padrão */
    width: 32px;
    height: 32px;
    border: 1px solid #94a3b84d;
    border-radius: 50%;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--color-accent);
  color: var(--color-text-button);
  font-weight: 900;
}

/* Remove setas extras padrão do Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1rem;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #94a3b84d;
    border-radius: 10px;
    padding: 24px;
    min-height: 130px;
    transition: 0.3s;
}

.swiper-slide:hover {
    transform: translateY(-5px);
}

.swiper-slide h3 {
    color: var(--color-white);
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.swiper-slide p {
    color: var(--color-text);
    font-size: 1.4rem;
}

.swiper-slide a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.4rem;
    border: 1px solid #94a3b84d;
    border-radius: 8px;
    padding: 5px 10px;
    transition: 0.3s;
}

.swiper-slide a:hover {
    background-color: var(--color-accent);
    color: var(--color-text-button);
    font-weight: 550;
}

/* CONTACT */
#contact {
    padding: 30px;
}

#contact h2 {
    font-size: 3.5rem;
    color: var(--color-white);
}

#contact hr {
    max-width: 80px;
    height: 2.5px;
    border: none;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    background-color: var(--color-accent);
    margin-bottom: 20px;
}

.contact-title p {
    color: var(--color-text);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.contact-left {
    max-width: 40%;
    width: 100%;
    flex-shrink: 0;
}

.form {
    max-width: 60%;
    width: 100%;
    flex: 1 1 auto;
}

.contact h3 {
    color: var(--color-white);
    font-size: 1.8rem;
}

.icon-info {
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-weight: 550;
    gap: 8px;
    margin-top: 20px;
}

.icon-info i {
    color: var(--color-accent);
}

.contact-information p {
    color: var(--color-text);
    font-size: 1.4rem;
    margin-top: 5px;
    margin-left: 22px;
}

.contact-networks {
    margin-top: 25px;
}

.network-icon a {
    text-decoration: none;
    margin-right: 8px;
}

.network-icon i {
    font-size: 2.5rem;
    padding: 10px 12px;
    border-radius: 50%;
    color: var(--color-text);
    background-color: var(--color-text-button);
    margin-top: 12px;
    transition: 0.3s;
}

.network-icon i:hover {
    background-color: var(--color-accent);
    color: var(--color-text-button);
}

#contact-form {
    border: 1px solid #94a3b84d;
    border-radius: 10px;
    padding: 30px;
}

.name-email {
    display: flex;
    gap: 25px;
}

.form-title {
    color: var(--color-white);
    font-size: 1.4rem;
}

.form-title input, .form-title textarea {
    border: 1px solid #94a3b84d;
    background: none;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 8px;
    width: 100%;
    box-sizing: border-box;
}

.name {
    width: 50%;
}

.email {
    width: 50%;
}

.form-title textarea {
    height: 80px;
    resize: none;
    overflow: auto;
}

.form-title input::placeholder, .form-title textarea::placeholder {
    color: var(--color-text);
    font-family: var(--font-base);
    opacity: 1;
}

#contact-form button {
    background-color: var(--color-accent);
    border: 1px solid #94a3b84d;
    color: var(--color-text-button);
    font-weight: bold;
    font-size: 1.4rem;
    padding: 10px 0px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

#contact-form button:hover {
    background-color: #3073df;
}









